
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .menu {
    background-color: #84bbd7;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .header {
    background-color: #6a677e;
    padding: 10px;
    margin-top: 40px; /* Adjust this based on the height of your menu */
  }

  .content {
    background-color: #e8546b;
    padding: 10px;
    flex-grow: 1;
  }

  .footer {
    background-color: #ab9b9b;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }